<p>Sign Up</p>
<%= form_for @user, url: {controller: 'authentication', action: 'signup'} do |f| %>
  <p>
    <%= f.label 'name:' %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label 'email:' %><br/>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label 'password:' %><br/>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit 'Sign Up' %>&nbsp;&nbsp;&nbsp;
    <%= f.submit 'Clear Form', :type => 'reset' %>
  </p>
<% end %>
<%= link_to "Home", controller: 'static_pages', action: 'home' %> |
<%= link_to "Contact", controller: 'static_pages', action: 'contact' %> |
<%= link_to "Login", controller: 'authentication', action: 'login' %> 
